*:focus {
    outline: none !important;
}

select,
input {
    height: 45px !important;
    border: 1px solid grey;
    background-color: #fff !important;
}

.text-area {
    border: 1px solid grey;
    border-radius: 25px;
    background-color: #fff !important;
    height: 110px !important;
    /* padding: 5px 0 0 5px !important; */
}

.create-donation-form {
    width: 60%;
    margin: 0 auto;
    margin-bottom: 60px;
    border: 1px solid transparent;
    padding: 3%;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}

.login100-form-btn {
    width: 30%;
}

.bg-color {
    background-color: #d4d4d42e;
}
.no-border:focus {
    outline-width: 0;
}
