/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
    font-family: Ubuntu-Regular;
    src: url("../fonts/ubuntu/Ubuntu-Regular.ttf");
}

@font-face {
    font-family: Ubuntu-Bold;
    src: url("../fonts/ubuntu/Ubuntu-Bold.ttf");
}

@font-face {
    font-family: JosefinSans-Bold;
    src: url("../fonts/JosefinSans/JosefinSans-Bold.ttf");
}

/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    font-family: Ubuntu-Regular, sans-serif;
}

/*---------------------------------------------*/
a {
    font-family: Ubuntu-Regular;
    font-size: 14px;
    line-height: 1.7;
    color: #666666;
    margin: 0px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
}

a:focus {
    outline: none !important;
}

a:hover {
    text-decoration: none;
    color: #1b3815;
}

/*---------------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px;
}

p {
    font-family: Ubuntu-Regular;
    font-size: 14px;
    line-height: 1.7;
    color: #666666;
    margin: 0px;
}

ul,
li {
    margin: 0px;
    list-style-type: none;
}

/*---------------------------------------------*/
input {
    outline: none;
    border: none;
}

input[type="number"] {
    -moz-appearance: textfield;
    appearance: none;
    -webkit-appearance: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

textarea {
    outline: none;
    border: none;
}

textarea:focus,
input:focus {
    border-color: transparent !important;
}

/*---------------------------------------------*/
button {
    outline: none !important;
    border: none;
    background: transparent;
}

button:hover {
    cursor: pointer;
}

iframe {
    border: none !important;
}

/*//////////////////////////////////////////////////////////////////
[ Utility ]*/
.txt1 {
    font-family: Ubuntu-Regular;
    font-size: 15px;
    color: #999999;
    line-height: 1.4;
}

.txt2 {
    font-family: Ubuntu-Regular;
    font-size: 15px;
    color: #57b846;
    line-height: 1.4;
}

.txt3 {
    /* font-family: Ubuntu-Bold; */
    font-size: 15px;
    color: #ef004c;
    line-height: 1.4;
    text-transform: uppercase;
}

/*//////////////////////////////////////////////////////////////////
[ login ]*/

.limiter {
    width: 100%;
    margin: 0 auto;
}

.container-login100 {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    position: relative;
    background-color: #fff;
}

.wrap-login100 {
    width: 500px;
    background: #fff;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
}

/*==================================================================
[ Form ]*/

.login100-form {
    width: 100%;
    position: relative;
}

.login100-form-title {
    font-family: JosefinSans-Bold;
    font-size: 30px;
    color: #fff;
    line-height: 1.2;
    text-align: center;

    display: block;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #57b846;
    padding-top: 50px;
    padding-bottom: 39px;
}

/*------------------------------------------------------------------
[ Input ]*/

.wrap-input100 {
    width: 100%;
    background-color: #fff;
    border-radius: 27px;
    position: relative;
    z-index: 1;
}
.wrap-input1000 {
    width: 82%;
    background-color: #fff;
    border-radius: 27px;
    position: relative;
    z-index: 1;
}
.input100 {
    font-size: 15px;
    line-height: 1.2;
    position: relative;
    display: block;
    width: 100%;
    height: 55px;
    background: #ebebeb;
    border-radius: 27px;
    padding: 0 35px 0 35px;
}
.input1000 {
    font-size: 15px;
    line-height: 2.2;
    position: relative;
    display: block;
    width: 100%;
    background: white;
    border: 1px solid #55555587;
    border-radius: 27px;
    padding: 0 35px 0 35px;
}

/*------------------------------------------------------------------
[ Focus Input ]*/

.focus-input100 {
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    border-radius: 31px;
    background-color: #ebebeb;
    pointer-events: none;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    -webkit-border-radius: 31px;
    -moz-border-radius: 31px;
    -ms-border-radius: 31px;
    -o-border-radius: 31px;
    -ms-transition: all 0.4s;
}

/* .input100:focus + .focus-input100 {
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    border: 1px solid #ef004c !important;
} */
.input100:focus {
    /*width: calc(100% + 2px);
    height: calc(100% + 2px);
    */
    border: 1px solid #ef004c !important;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}
.input1000:focus {
    /*width: calc(100% + 2px);
    height: calc(100% + 2px);
    */
    border: 1px solid #ef004c !important;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}

/* chat input field */

/*------------------------------------------------------------------
[ Button ]*/
.container-login100-form-btn {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.login100-form-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    height: 50px;
    background-color: #ef004c;
    border-radius: 25px;

    font-family: Ubuntu-Bold;
    font-size: 15px;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

/* .login100-form-btn:hover {
    background-color: #1b3815;
} */

/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
    position: relative;
}

.alert-validate::before {
    content: attr(data-validate);
    position: absolute;
    z-index: 1000;
    max-width: 70%;
    background-color: #fff;
    border: 1px solid #c80000;
    border-radius: 14px;
    padding: 4px 25px 4px 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 10px;
    pointer-events: none;

    font-family: Ubuntu-Bold;
    color: #c80000;
    font-size: 13px;
    line-height: 1.4;
    text-align: left;

    visibility: hidden;
    opacity: 0;

    -webkit-transition: opacity 0.4s;
    -o-transition: opacity 0.4s;
    -moz-transition: opacity 0.4s;
    transition: opacity 0.4s;
}

.alert-validate::after {
    content: "\f06a";
    font-family: FontAwesome;
    display: block;
    position: absolute;
    z-index: 1100;
    color: #c80000;
    font-size: 16px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 16px;
}

.alert-validate:hover:before {
    visibility: visible;
    opacity: 1;
}

@media (max-width: 992px) {
    .alert-validate::before {
        visibility: visible;
        opacity: 1;
    }
}

/*//////////////////////////////////////////////////////////////////
[ Responsive ]*/
@media (max-width: 576px) {
    .login100-form {
        padding-left: 15px;
        padding-right: 15px;
    }
}

.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 80%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 1.3rem;
    outline: 0;
    -webkit-border-radius: 1.3rem;
    -moz-border-radius: 1.3rem;
    -ms-border-radius: 1.3rem;
    -o-border-radius: 1.3rem;
    /* height: 85vh; */
}

.modal-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1rem 1rem;
    border-top: 15px solid #ef004c;
    border-bottom: none;
    border-top-left-radius: 1.3rem;
    border-top-right-radius: 1.3rem;
}

.modal-body {
    padding-top: 0.2rem;
}

.input100 {
    border: 1px solid #55555587;
}



.registerModal {
    height: 85vh !important;
}
select {
    color: grey !important;
}

.irs-campaign-col {
    background-color: transparent;
    margin: 0;
}
.donation-card {
    border: 1px solid grey;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.donation-card:hover {
    border: 1px solid #ef004c;
    box-shadow: 0 3px 20px 0px #ef004c3a;
}

.irs-campaign-img-text {
    background: #0000009e;
}
.irs-campaign-content {
    padding: 15px 20px;
}
.irs-campaign-content .title {
    height: 3.4em;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 9px !important;
}
.nav-item .nav-link {
    border: 1px solid transparent;
}

.nav-tabs {
    border: none;
    margin-bottom: 20px !important;
}
.nav-tabs .nav-link.active {
    border: none;
    border-bottom: 1px solid #ef004c;
}

.profile-card {
    border: 1px solid grey;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    background-image: url("/images/donors_bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    transition: 0.2s;
}

.profile-card:hover {
    border: 1px solid #ef004c;
    box-shadow: 0 3px 20px 0px #ef004c3a;
}

.profile-card img {
    padding: 22px;
    height: 170px;
    border-radius: 50% !important;
    width: 170px;
}
.btn-outline-danger {
    color: #ef004c;
    background-color: transparent;
    background-image: none;
    border-color: #ef004c;
}
.btn-outline-danger:hover {
    color: #fff;
    background-color: #ef004c;
    border-color: #ef004c;
}
.irs-section-title .irs-title-line {
    background: #ef004c;
}
.footer_navs ul li:first-child a {
    color: #000;
}
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: #ef004c !important;
}
.profile-popup {
    /*background-image: url("../image/donors_bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    */
    background: #fff;
    /* border: 1px solid #ef004c; */
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.profile-popup:hover {
    border: 1px solid #ff00513a;
    box-shadow: 0 3px 20px 0px #ef004c3a;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}

.dropdown-item:focus,
.dropdown-item:hover {
    color: #16181b !important;
    text-decoration: none !important;
    background-color: #ef004c12 !important;
}

.dropdown-item:hover i {
    color: #ef004c;
}
/* .nav-tabs {
    border-bottom: 1px solid #eee !important;
} */

.CheckboxContainer {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.CheckboxContainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.CheckboxContainer:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.CheckboxContainer input:checked ~ .checkmark {
    background-color: #ef004c;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.CheckboxContainer input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.CheckboxContainer .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}
.button-hover-style:hover {
    cursor: pointer;
    background: #ef004c;
    color: white !important;
    transition: 0.3s;
}
.focused-tab {
    color: #ef004c !important;
}
#scroll-bar::-webkit-scrollbar-track,
#donation-tabs-tabpane-donated_items::-webkit-scrollbar-track,
#donation-tabs-tabpane-available_donations::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #a9a9a959;
}
#scroll-bar::-webkit-scrollbar,
#donation-tabs-tabpane-donated_items::-webkit-scrollbar,
#donation-tabs-tabpane-available_donations::-webkit-scrollbar {
    width: 8px;
    background-color: #e3dfdf;
}
#scroll-bar::-webkit-scrollbar-thumb,
#donation-tabs-tabpane-donated_items::-webkit-scrollbar-thumb,
#donation-tabs-tabpane-available_donations::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #5757576e;
}

.uploadImage input {
    border: none !important;
    width: 7em !important;
}


.btn {
    font-size: 18px !important;
}

h4 {
    font-size: 23px !important;
}

.roundImage {
    border-radius: 50% !important;
    margin-right: 1em !important;
}

#donation-tabs-tabpane-posts-from-this-user .notFound, #donation-tabs-tabpane-related-posts .notFound{
    text-align: center;
}